# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py
.env

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# MySQL dump files
*.sql
*.dump

# Others
*.bak
*.swp
